* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav, footer {
  background-color: #21222A;
  padding: 30px 25px;
  text-align: center;
}

.header--title {
  margin: 0;
}

.header--name {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.header--title {
  color: #DEEBF8;
  font-weight: 600;
  margin-bottom: 30px;
}

.header--button {
    align-items: center;
    background-color: #DEEBF8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #21222A;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    min-height: 1rem;
    padding: calc(.875rem - 3px) calc(1.5rem - 3px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    vertical-align: baseline;
    width: auto;
  }
  
  .header--button:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

.header--photo {
  height: 360px;
  border-radius: 40px 40px 0 0;
}

main {
  padding: 57px 27px;
  color: white;
  margin-left: auto;
  margin-right: auto;
    text-align: left; 
  max-width: 400px;
}

.main--title {
  margin: 0;
  font-size: 19px;
  letter-spacing: -0.02em;
}

.main--desc {
  margin-top: 23px;
}

.footer--icon{
  width: 30px;
  display:inline-block;
  margin-left: 50px;  
}